
body {
  margin: 0;
  font-family: Roboto;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 135px;
}

 .logo {
   position: relative;
   padding: 40px 0;
   padding-left: 43px;
   font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
 }

 .logo__circle {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 28px;
   height: 28px;
   border-radius: 50%;
   opacity: .7;
 }

 .logo__circle_color_dark-blue {
   background: #0056EC;
 }

 .logo__circle_color_blue {
   background: #C8DBFB;
   left: 8px;
   top: 56%;
 }

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px robotomedium, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 13px;
}

.menu__item:after {
   position: absolute;
   left: 0;
   display: block;
   content: '';
   width: 0;
   height: 3px;
   background: #0056EC;
   opacity: 0;
   transition: opacity .5s, width .5s;
  }

.menu__item:hover:after, .menu__item_active:after {
   opacity: 1;
   width: 100%;
}

.menu__item:hover {
  color: #0056EC;
  opacity: .5;
}

.menu__item:hover:after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056EC;
}

.menu__item_active:after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
}

.main {
  padding: 0 63% 200px 0;
  background: top right no-repeat url(img/image.svg);
}

.main__title {
  margin: 0 0 40px 0;
  padding-top: 70px;
  font: 700 66px/87px pt_serifbold, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ECF3FF;
}

.main__subtitle {
  margin: 0 0 40px 0;
  font: 22px/26px robotomedium, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 18px/21px robotoregular, arial, helvetica, sans-serif;
  padding: 18px 30px;
  background: #0056EC;
  color: #FFF;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

@media (max-width: 1367px) and (min-width: 769px) {
  .wrapper {
    width: 68%;
  }

  .header {
    margin-bottom: 90px;
  }

  .menu {
    padding-top: 10px;
  }

  .menu__item {
    font: 500 14px/16px robotomedium, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity .5s;
  }

  .menu__item:last-child {
    margin-right: 5px;
  }

  .main__title {
    padding-top: 10px;
    font: 700 50px/66px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: 18px/21px robotomedium, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 14px/16px robotoregular, arial, helvetica, sans-serif;
    padding: 14px 22px;
  }

  .main {
    padding: 0 52% 200px 0;
    background-size: 55%;
  }

}

@media (max-width: 1024px) and (min-width: 769px) {
  .wrapper {
    width: 91%;
  }

  .menu__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 769px) {
  .hamburger-menu, .menu__btn {
    display: none;
  }
  }

@media (max-width: 768px) and (min-width: 0) {

  .wrapper {
    width: 92%;
  }

  .header {
    margin-bottom: 10px;
    padding-left: 10px;
  }

  .logo {
    padding-top: 38px;
  }

  .menu, .logo__title  {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 28px;
    right: 24px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056EC;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 375px;
    height: 100%;
    margin: 0;
    padding: 170px 0 80px;
    list-style: none;
    text-align: center;
    background-color: #FFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .hamburger-menu__item {
    display: block;
    padding: 13px 24px;
    color: #333;
    font: 500 30px/35px robotomedium, arial, helvetica, sans-serif;
    text-decoration: none;
  }

  .hamburger-menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 80%;
    background-position: top center;
  }

  .main__title {
    margin: -67px 0 31px 0;
    padding-left: 3px;
    font: 30px/40px pt_serifbold, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    margin-bottom: 26px;
    font: 500 16px/19px robotomedium, arial, helvetica, sans-serif;
    padding: 0 45px;
  }

  .main__subtitle br {
    display: none;
  }

  .main__button {
    font: 14px/16px robotoregular, arial, helvetica, sans-serif;
    padding: 15px 20px;
  }

}
