
body {
  margin: 0;
  font-family: Roboto;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

 .logo {
   position: relative;
   padding: 40px 0;
   padding-left: 44px;
   font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
 }

 .logo__circle {
   position: absolute;
   left: 0;
   top: 50%;
   transform: translateY(-50%);
   width: 28px;
   height: 28px;
   border-radius: 50%;
 }

 .logo__circle_color_dark-blue {
   background: #0056EC;
 }

 .logo__circle_color_blue {
   background: #C8DBFB;
   left: 8px;
   top: 56%;
   opacity: .7;
 }

.menu {
  display: flex;
  align-items: center;
}

.menu__item{
  padding: 0 13px;
}

.menu__item:last-child {
  padding-right: 0;
}

.menu__item_active {
  border-bottom: blue;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.main-content {
  height: 41%;
}

.main-content__title {
  font-family: PT Serif;
}

.main-content__subtitle {
}

.main-content__button {
  font-family: Roboto;
}

.image-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content__photo {
}

/*{
    border: dashed 1px red;
}
